<div class="px-4 sm:px-6 lg:px-8 py-6">
  <div class="md:flex md:items-center md:justify-between mb-6">
    <div class="min-w-0 flex-1">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Editar Moneda</h2>
    </div>
    <div class="mt-4 flex md:ml-4 md:mt-0">
      <%= link_to "Volver a Monedas", currencies_path, class: "inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
    </div>
  </div>

  <div class="bg-white shadow rounded-lg p-6">
    <%= render 'form', currency: @currency %>
  </div>
</div>
