<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold text-gray-900">Nuevo Cliente</h1>
      <p class="mt-2 text-sm text-gray-700">Crea un nuevo cliente.</p>
    </div>
  </div>

  <div class="mt-8 bg-white shadow sm:rounded-lg">
    <%= render "form", customer: @customer %>
  </div>
</div>