<!-- Barra Superior (Navbar) -->
<%= render 'pos/main/nav' %>

<!-- Contenedor Principal -->
<div class="flex flex-1" data-controller="layout">
  <!-- Columna Izquierda -->
  <%= render 'pos/main/left_column' %>

  <!-- Columna Derecha -->
  <%= render 'pos/main/right_column' %>
</div>