<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold text-gray-900">Nuevo Gasto</h1>
      <p class="mt-2 text-sm text-gray-700">Ingrese los datos del nuevo gasto.</p>
    </div>
  </div>

  <div class="mt-8">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="mt-5 md:col-span-3 md:mt-0">
        <%= render 'form', expense: @expense %>
      </div>
    </div>
  </div>
</div>